<div class="row">
  <div class="col-12">
    <span class="fw-bold">
      <i class="fa-solid fa-arrows-left-right-to-line"></i>
      &nbsp;
      Comparazione con l'anno precedente
    </span>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <small>
          GEN
          <br/>
          <%= subscription_trend_jan %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          FEB
          <br/>
          <%= subscription_trend_feb %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          MAR
          <br/>
          <%= subscription_trend_mar %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          APR
          <br/>
          <%= subscription_trend_apr %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          MAG
          <br/>
          <%= subscription_trend_may %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          GIU
          <br/>
          <%= subscription_trend_jun %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          LUG
          <br/>
          <%= subscription_trend_jul %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          AGO
          <br/>
          <%= subscription_trend_aug %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          SET
          <br/>
          <%= subscription_trend_sep %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          OTT
          <br/>
          <%= subscription_trend_oct %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          NOV
          <br/>
          <%= subscription_trend_nov %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          DIC
          <br/>
          <%= subscription_trend_dic %>
        </small>
      </li>
    </ul>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <%= line_chart({"Gennaio" => "#{jan_trend}", "Febbraio" => "#{feb_trend}", "Marzo" => "#{mar_trend}", "Aprile" => "#{apr_trend}", "Maggio" => "#{may_trend}", "Giugno" => "#{jun_trend}", "Luglio" => "#{jul_trend}", "Agosto" => "#{aug_trend}", "Settembre" => "#{sep_trend}", "Ottobre" => "#{oct_trend}", "Novembre" => "#{nov_trend}", "Dicembre" => "#{dic_trend}"}, height: "120px",colors: ["#29abe0"]) %>
  </div>
</div>
