<div class="row">
  <div class="col-12">
    <span class="fw-bold">
      <i class="fa-solid fa-city"></i>
      &nbsp;
      Situazione Dei Territori
    </span>
    <br/>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <strong>
        Gorizia
      </strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="text-center">
            <i class="fa-solid fa-arrows-left-right-to-line"></i>
            &nbsp;
            Comparazione
          </p>
          <%= line_chart({"GEN" => "#{jan_trend_go}", "FEB" => "#{feb_trend_go}", "MAR" => "#{mar_trend_go}", "APR" => "#{apr_trend_go}", "MAG" => "#{may_trend_go}", "GIU" => "#{jun_trend_go}", "LUG" => "#{jul_trend_go}", "AGO" => "#{aug_trend_go}", "SET" => "#{sep_trend_go}", "OTT" => "#{oct_trend_go}", "NOV" => "#{nov_trend_go}", "DIC" => "#{dic_trend_go}"}, height: "120px",colors: ["#{trend_resulting_color_go}"]) %>
          <br/>
        </div>
        <div class="col-6">
          <p class="text-center">
            <i class="fa-solid fa-arrow-trend-up"></i>
            &nbsp;
            Progressione
          </p>
          <%= line_chart({"GEN" => "#{jan_progression_go}", "FEB" => "#{feb_progression_go}", "MAR" => "#{mar_progression_go}", "APR" => "#{apr_progression_go}", "MAG" => "#{may_progression_go}", "GIU" => "#{jun_progression_go}", "LUG" => "#{jul_progression_go}", "AGO" => "#{aug_progression_go}", "SET" => "#{sep_progression_go}", "OTT" => "#{oct_progression_go}", "NOV" => "#{nov_progression_go}", "DIC" => "#{dic_progression_go}"}, height: "120px",colors: ["#{progression_resulting_color_go}"]) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <strong>
        Pordenone
      </strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="text-center">
            <i class="fa-solid fa-arrows-left-right-to-line"></i>
            &nbsp;
            Comparazione
          </p>
          <%= line_chart({"GEN" => "#{jan_trend_pn}", "FEB" => "#{feb_trend_pn}", "MAR" => "#{mar_trend_pn}", "APR" => "#{apr_trend_pn}", "MAG" => "#{may_trend_pn}", "GIU" => "#{jun_trend_pn}", "LUG" => "#{jul_trend_pn}", "AGO" => "#{aug_trend_pn}", "SET" => "#{sep_trend_pn}", "OTT" => "#{oct_trend_pn}", "NOV" => "#{nov_trend_pn}", "DIC" => "#{dic_trend_pn}"}, height: "120px",colors: ["#{trend_resulting_color_pn}"]) %>
          <br/>
        </div>
        <div class="col-6">
          <p class="text-center">
            <i class="fa-solid fa-arrow-trend-up"></i>
            &nbsp;
            Progressione
          </p>
          <%= line_chart({"GEN" => "#{jan_progression_pn}", "FEB" => "#{feb_progression_pn}", "MAR" => "#{mar_progression_pn}", "APR" => "#{apr_progression_pn}", "MAG" => "#{may_progression_pn}", "GIU" => "#{jun_progression_pn}", "LUG" => "#{jul_progression_pn}", "AGO" => "#{aug_progression_pn}", "SET" => "#{sep_progression_pn}", "OTT" => "#{oct_progression_pn}", "NOV" => "#{nov_progression_pn}", "DIC" => "#{dic_progression_pn}"}, height: "120px",colors: ["#{progression_resulting_color_pn}"]) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <strong>
        Trieste
      </strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="text-center">
            <i class="fa-solid fa-arrows-left-right-to-line"></i>
            &nbsp;
            Comparazione
          </p>
          <%= line_chart({"GEN" => "#{jan_trend_ts}", "FEB" => "#{feb_trend_ts}", "MAR" => "#{mar_trend_ts}", "APR" => "#{apr_trend_ts}", "MAG" => "#{may_trend_ts}", "GIU" => "#{jun_trend_pn}", "LUG" => "#{jul_trend_pn}", "AGO" => "#{aug_trend_pn}", "SET" => "#{sep_trend_pn}", "OTT" => "#{oct_trend_pn}", "NOV" => "#{nov_trend_pn}", "DIC" => "#{dic_trend_pn}"}, height: "120px",colors: ["#{trend_resulting_color_ts}"]) %>
          <br/>
        </div>
        <div class="col-6">
          <p class="text-center">
            <i class="fa-solid fa-arrow-trend-up"></i>
            &nbsp;
            Progressione
          </p>
          <%= line_chart({"GEN" => "#{jan_progression_ts}", "FEB" => "#{feb_progression_ts}", "MAR" => "#{mar_progression_ts}", "APR" => "#{apr_progression_ts}", "MAG" => "#{may_progression_ts}", "GIU" => "#{jun_progression_ts}", "LUG" => "#{jul_progression_ts}", "AGO" => "#{aug_progression_ts}", "SET" => "#{sep_progression_ts}", "OTT" => "#{oct_progression_ts}", "NOV" => "#{nov_progression_ts}", "DIC" => "#{dic_progression_ts}"}, height: "120px",colors: ["#{progression_resulting_color_ts}"]) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-header">
      <strong>
        Udine
      </strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p class="text-center">
            <i class="fa-solid fa-arrows-left-right-to-line"></i>
            &nbsp;
            Comparazione
          </p>
          <%= line_chart({"GEN" => "#{jan_trend_ud}", "FEB" => "#{feb_trend_ud}", "MAR" => "#{mar_trend_ud}", "APR" => "#{apr_trend_ud}", "MAG" => "#{may_trend_ud}", "GIU" => "#{jun_trend_ud}", "LUG" => "#{jul_trend_ud}", "AGO" => "#{aug_trend_ud}", "SET" => "#{sep_trend_ud}", "OTT" => "#{oct_trend_ud}", "NOV" => "#{nov_trend_ud}", "DIC" => "#{dic_trend_ud}"}, height: "120px",colors: ["#{trend_resulting_color_ud}"]) %>
          <br/>
        </div>
        <div class="col-6">
          <p class="text-center">
            <i class="fa-solid fa-arrow-trend-up"></i>
            &nbsp;
            Progressione
          </p>
          <%= line_chart({"GEN" => "#{jan_progression_ud}", "FEB" => "#{feb_progression_ud}", "MAR" => "#{mar_progression_ud}", "APR" => "#{apr_progression_ud}", "MAG" => "#{may_progression_ud}", "GIU" => "#{jun_progression_ud}", "LUG" => "#{jul_progression_ud}", "AGO" => "#{aug_progression_ud}", "SET" => "#{sep_progression_ud}", "OTT" => "#{oct_progression_ud}", "NOV" => "#{nov_progression_ud}", "DIC" => "#{dic_progression_ud}"}, height: "120px",colors: ["#{progression_resulting_color_ts}"]) %>
        </div>
      </div>
    </div>
  </div>
</div>
