<h4>
  <%= image_tag("apr/apr_logo.svg", class: "img-fluid") %>
  Aprile
  <span class="float-end">
    <%= previous_year %> - <%= current_year %>
  </span>
</h4>
<hr/>
<span class="fw-bold">
  <i class="fa-solid fa-users"></i>
  &nbsp;
  TOTALE
</span>
<%= render "totale" %>
<span class="fw-bold">
  <i class="fa-solid fa-city"></i>
  &nbsp;
  COMPRENSORI
</span>
<hr/>
<%= render "comprensori" %>
<span class="fw-bold">
  <i class="fa-solid fa-square"></i>
  &nbsp;
  CATEGORIE
</span>
<hr/>
<%= render "categorie_uno" %>
<%= render "categorie_due" %>
<%= render "categorie_tre" %>
<span class="fw-bold">
  <i class="fa-solid fa-file-signature"></i>
  &nbsp;
  TIPOLOGIE ISCRIZIONE
</span>
<hr/>
<%= render "tipologie_iscrizione" %>
<span class="fw-bold">
  <i class="fa-solid fa-id-card"></i>
  &nbsp;
  TIPOLOGIE DELEGA
</span>
<hr/>
<%= render "tipologie_delega" %>
<span class="fw-bold">
  <i class="fa-solid fa-person-circle-xmark"></i>
  &nbsp;
  CESSAZIONI
</span>
<hr/>
<%= render "cessazioni" %>