<div class="row mb-3">
  <nav class="navbar navbar-expand-lg bg-light shadow" data-bs-theme="light">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("navbar/navbar_logo.svg", class: "img-fluid") %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to home_index_path, class: "nav-link" do %>
              <i class="fa-solid fa-house"></i>
              &nbsp;
              Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to dashboard_index_path, class: "nav-link" do %>
              <i class="fa-solid fa-gauge-high"></i>
              &nbsp;
              Cruscotto
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-arrows-left-right-to-line"></i>
              &nbsp;
              Comparazioni
            </a>
            <div class="dropdown-menu">
              <%= link_to januaries_index_path, class: "dropdown-item" do %>
                <i class="fa-regular fa-calendar-days"></i>
                Gennaio
              <% end %>
              <%= link_to februaries_index_path, class: "dropdown-item" do %>
                <i class="fa-regular fa-calendar-days"></i>
                Febbraio
              <% end %>
              <%= link_to marches_index_path, class: "dropdown-item" do %>
                <i class="fa-regular fa-calendar-days"></i>
                Marzo
              <% end %>
              <%= link_to aprils_index_path, class: "dropdown-item" do %>
                <i class="fa-regular fa-calendar-days"></i>
                Aprile
              <% end %>
              <%= link_to mays_index_path, class: "dropdown-item" do %>
                <i class="fa-regular fa-calendar-days"></i>
                Maggio
              <% end %>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "https://www.cgil-fvg.it", class: "nav-link", target: "new" do %>
              <%= image_tag("navbar/cgil_logo.svg") %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-bars"></i>
            </a>
            <div class="dropdown-menu">
              <%= link_to home_credits_path, class: "dropdown-item" do %>
                <i class="fa-solid fa-user-tie"></i>
                Credits
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
