<div class="row">
  <div class="col-8">
    <p class="fw-bold">
      <%= image_tag("categories/flc.svg", size: "32x32", class: "img-fluid") %>
      &emsp;
      FLC
    </p>
    <small>
      <i class="fw-bold text-secondary">
        Comparazione
      </i>
    </small>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <small>
          GEN
          <br/>
          <%= flc_trend_jan %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          FEB
          <br/>
          <%= flc_trend_feb %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          MAR
          <br/>
          <%= flc_trend_mar %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          APR
          <br/>
          <%= flc_trend_apr %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          MAG
          <br/>
          <%= flc_trend_may %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          GIU
          <br/>
          <%= flc_trend_jun %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          LUG
          <br/>
          <%= flc_trend_jul %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          SET
          <br/>
          <%= flc_trend_sep %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          OTT
          <br/>
          <%= flc_trend_oct %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          NOV
          <br/>
          <%= flc_trend_nov %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          DIC
          <br/>
          <%= flc_trend_dic %>
        </small>
      </li>
    </ul>
    <small>
      <i class="fw-bold text-secondary">
        Progressione
      </i>
    </small>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <small>
          GEN
          <br/>
          <%= flc_progression_jan %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          FEB
          <br/>
          <%= flc_progression_feb %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          MAR
          <br/>
          <%= flc_progression_mar %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          APR
          <br/>
          <%= flc_progression_apr %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          MAG
          <br/>
          <%= flc_progression_may %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          GIU
          <br/>
          <%= flc_progression_jun %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          LUG
          <br/>
          <%= flc_progression_jul %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          SET
          <br/>
          <%= flc_progression_sep %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          OTT
          <br/>
          <%= flc_progression_oct %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          NOV
          <br/>
          <%= flc_progression_nov %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          DIC
          <br/>
          <%= flc_progression_dic %>
        </small>
      </li>
    </ul>
  </div>
  <div class="col-4">
    <br>
    &emsp;
    <%= line_chart({"gen" => "#{jan_trend_flc}", "feb" => "#{feb_trend_flc}", "mar" => "#{mar_trend_flc}", "apr" => "#{apr_trend_flc}", "mag" => "#{may_trend_flc}", "giu" => "#{jun_trend_flc}", "lug" => "#{jul_trend_flc}", "ago" => "#{aug_trend_flc}", "set" => "#{sep_trend_flc}", "ott" => "#{oct_trend_flc}", "nov" => "#{nov_trend_flc}", "dic" => "#{dic_trend_flc}"}, height: "120px",colors: ["#{flc_trend_resulting_color}"]) %>
    <%= line_chart({"gen" => "#{jan_progression_flc}", "feb" => "#{feb_progression_flc}", "mar" => "#{mar_progression_flc}", "apr" => "#{apr_progression_flc}", "mag" => "#{may_progression_flc}", "giu" => "#{jun_progression_flc}", "lug" => "#{jul_progression_flc}", "ago" => "#{aug_progression_flc}", "set" => "#{sep_progression_flc}", "ott" => "#{oct_progression_flc}", "nov" => "#{nov_progression_flc}", "dic" => "#{dic_progression_flc}"}, height: "120px",colors: ["#{flc_progression_resulting_color}"]) %>
  </div>
</div>