<div class="row">
  <div class="col-8">
    <p class="fw-bold">
      <%= image_tag("categories/spi.svg", size: "32x32", class: "img-fluid") %>
      &emsp;
      SPI
    </p>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <small>
          GEN
          <br/>
          <%= spi_trend_jan %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          FEB
          <br/>
          <%= spi_trend_feb %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          MAR
          <br/>
          <%= spi_trend_mar %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          APR
          <br/>
          <%= spi_trend_apr %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          MAG
          <br/>
          <%= spi_trend_may %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          GIU
          <br/>
          <%= spi_trend_jun %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          LUG
          <br/>
          <%= spi_trend_jul %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          SET
          <br/>
          <%= spi_trend_sep %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          OTT
          <br/>
          <%= spi_trend_oct %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          NOV
          <br/>
          <%= spi_trend_nov %>
        </small>
      </li>
      <li class="list-group-item">
        <small>
          DIC
          <br/>
          <%= spi_trend_dic %>
        </small>
      </li>
    </ul>
  </div>
  <div class="col-4">
    <%= line_chart({"gen" => "#{jan_trend_spi}", "feb" => "#{feb_trend_spi}", "mar" => "#{mar_trend_spi}", "apr" => "#{apr_trend_spi}", "mag" => "#{may_trend_spi}", "giu" => "#{jun_trend_spi}", "lug" => "#{jul_trend_spi}", "ago" => "#{aug_trend_spi}", "set" => "#{sep_trend_spi}", "ott" => "#{oct_trend_spi}", "nov" => "#{nov_trend_spi}", "dic" => "#{dic_trend_spi}"}, height: "120px",colors: ["#e83e8c"]) %>
  </div>
</div>