<div class="row">
  <div class="col-12">
    <h4>
      <%= image_tag("categories/categories_logo.svg", class: "img-fluid") %>
      &emsp;
      <i class="fw-bold">
        Categorie 
      </i>
    </h4>
  </div>
</div>
<hr class="text-secondary"/>
<%= render "filcams" %>
<hr class="text-danger"/>
<%= render "filctem" %>
<hr class="text-danger"/>
<%= render "fillea" %>
<hr class="text-danger"/>
<%= render "filt" %>
<hr class="text-danger"/>
<%= render "fiom" %>
<hr class="text-danger"/>
<%= render "fisac" %>
<hr class="text-danger"/>
<%= render "flai" %>
<hr class="text-danger"/>
<%= render "flc" %>
<hr class="text-danger"/>
<%= render "fp" %>
<hr class="text-danger"/>
<%= render "nidil" %>
<hr class="text-danger"/>
<%= render "slc" %>
<hr class="text-danger"/>
<%= render "spi" %>