<div class="row p-3 m-3">
  <div class="col-3">
    <div class="card shadow">
      <div class="card-header">
        <small class="fw-bold">
          <i class="fa-solid fa-square"></i>
          &nbsp;
          FILCAMS
          &emsp;
          <i class="fa-regular fa-calendar"></i>
          &nbsp;
          <%= previous_year %> - <%= current_year %>
        </small>
      </div>
      <div class="card-body">
        <i class="fa-regular fa-calendar"></i>
        &nbsp;
        Anno <%= previous_year %>:
        &nbsp;
        <span class="fw-bold">
          <i class="fa-solid fa-users"></i>
          &nbsp;
          <%= "#{@jan_prevs_filcams.count}".html_safe %>
        </span>
        <br/>
        <i class="fa-regular fa-calendar"></i>
        &nbsp;
        Anno <%= current_year %>:
        &nbsp;
        <span class="fw-bold">
          <i class="fa-solid fa-users"></i>
          &nbsp;
          <%= "#{@jan_curs_filcams.count}".html_safe %>
        </span>
        <br/>
        <i class="fa-solid fa-arrows-left-right-to-line"></i>
        &nbsp;
        Tendenza:
        &nbsp;
        <%= subscribers_filcams_trend_jan %>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card shadow">
      <div class="card-header">
        <small class="fw-bold">
          <i class="fa-solid fa-square"></i>
          &nbsp;
          FILCTEM
          &emsp;
          <i class="fa-regular fa-calendar"></i>
          &nbsp;
          <%= previous_year %> - <%= current_year %>
        </small>
      </div>
      <div class="card-body">
        <i class="fa-regular fa-calendar"></i>
        &nbsp;
        Anno <%= previous_year %>:
        &nbsp;
        <span class="fw-bold">
          <i class="fa-solid fa-users"></i>
          &nbsp;
          <%= "#{@jan_prevs_filctem.count}".html_safe %>
        </span>
        <br/>
        <i class="fa-regular fa-calendar"></i>
        &nbsp;
        Anno <%= current_year %>:
        &nbsp;
        <span class="fw-bold">
          <i class="fa-solid fa-users"></i>
          &nbsp;
          <%= "#{@jan_curs_filctem.count}".html_safe %>
        </span>
        <br/>
        <i class="fa-solid fa-arrows-left-right-to-line"></i>
        &nbsp;
        Tendenza:
        &nbsp;
        <%= subscribers_filctem_trend_jan %>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card shadow">
      <div class="card-header">
        <small class="fw-bold">
          <i class="fa-solid fa-square"></i>
          &nbsp;
          FILLEA
          &emsp;
          <i class="fa-regular fa-calendar"></i>
          &nbsp;
          <%= previous_year %> - <%= current_year %>
        </small>
      </div>
      <div class="card-body">
        <i class="fa-regular fa-calendar"></i>
        &nbsp;
        Anno <%= previous_year %>:
        &nbsp;
        <span class="fw-bold">
          <i class="fa-solid fa-users"></i>
          &nbsp;
          <%= "#{@jan_prevs_fillea.count}".html_safe %>
        </span>
        <br/>
        <i class="fa-regular fa-calendar"></i>
        &nbsp;
        Anno <%= current_year %>:
        &nbsp;
        <span class="fw-bold">
          <i class="fa-solid fa-users"></i>
          &nbsp;
          <%= "#{@jan_curs_fillea.count}".html_safe %>
        </span>
        <br/>
        <i class="fa-solid fa-arrows-left-right-to-line"></i>
        &nbsp;
        Tendenza:
        &nbsp;
        <%= subscribers_fillea_trend_jan %>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card shadow">
      <div class="card-header">
        <small class="fw-bold">
          <i class="fa-solid fa-square"></i>
          &nbsp;
          FILT
          &emsp;
          <i class="fa-regular fa-calendar"></i>
          &nbsp;
          <%= previous_year %> - <%= current_year %>
        </small>
      </div>
      <div class="card-body">
        <i class="fa-regular fa-calendar"></i>
        &nbsp;
        Anno <%= previous_year %>:
        &nbsp;
        <span class="fw-bold">
          <i class="fa-solid fa-users"></i>
          &nbsp;
          <%= "#{@jan_prevs_filt.count}".html_safe %>
        </span>
        <br/>
        <i class="fa-regular fa-calendar"></i>
        &nbsp;
        Anno <%= current_year %>:
        &nbsp;
        <span class="fw-bold">
          <i class="fa-solid fa-users"></i>
          &nbsp;
          <%= "#{@jan_curs_filt.count}".html_safe %>
        </span>
        <br/>
        <i class="fa-solid fa-arrows-left-right-to-line"></i>
        &nbsp;
        Tendenza:
        &nbsp;
        <%= subscribers_filt_trend_jan %>
      </div>
    </div>
  </div>
</div>